[submodule "fdiv"]
	path = fdiv
	url = https://gist.github.com/45c8af87e5e03248e62f7624a575ef44.git
[submodule "fexp"]
	path = fexp
	url = https://gist.github.com/2b263771d5128c11405ac530852d310e.git
[submodule "hello_world"]
	path = hello_world
	url = https://gist.github.com/b4e3953d689d57cdd9fc7878763bef88.git
[submodule "fadd"]
	path = fadd
	url = https://gist.github.com/40f33a21393f77e2586d73801cdae4fa.git
[submodule "fmul"]
	path = fmul
	url = https://gist.github.com/ee69a1b9b8954efb9774b7b67d746049.git
[submodule "fsqrt"]
	path = fsqrt
	url = https://gist.github.com/b9b9458bd1936940cb534d94a7735d58.git
