[submodule "fdiv"]
	path = fdiv
	url = https://gist.github.com/45c8af87e5e03248e62f7624a575ef44.git
[submodule "fexp"]
	path = fexp
	url = https://gist.github.com/2b263771d5128c11405ac530852d310e.git
[submodule "hello_world"]
	path = hello_world
	url = https://gist.github.com/b4e3953d689d57cdd9fc7878763bef88.git
